
:root {
  --bg-body: #F3F0FF;
  --bg-surface: #FFFFFF;
  --bg-navbar: #6D28D9;

  --primary: #6D28D9;
  --primary-dark: #5B21B6;
  --primary-light: #8B5CF6;

  --accent: #C084FC;

  --danger: #DC2626;

  --text-main: #1E1B4B;
  --text-muted: #6B7280;

  --border-soft: #E7E0FF;
}

body {
  margin: 0;
  font-family: "Inter", system-ui, sans-serif;
  background: var(--bg-body);
  color: var(--text-main);
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--border-soft);
  font-size: 15px;
  background: white;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  border-radius: 6px;
}
